<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-language-heading" data-cy="LanguageCreateUpdateHeading" jhiTranslate="currencyApp.language.home.createOrEditLabel">
        Create or edit a Language
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyApp.language.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyApp.language.russian" for="field_russian">Russian</label>
          <input type="text" class="form-control" name="russian" id="field_russian" data-cy="russian" formControlName="russian" />
          <div *ngIf="editForm.get('russian')!.invalid && (editForm.get('russian')!.dirty || editForm.get('russian')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('russian')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyApp.language.uzbek" for="field_uzbek">Uzbek</label>
          <input type="text" class="form-control" name="uzbek" id="field_uzbek" data-cy="uzbek" formControlName="uzbek" />
          <div *ngIf="editForm.get('uzbek')!.invalid && (editForm.get('uzbek')!.dirty || editForm.get('uzbek')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('uzbek')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyApp.language.cyrillic" for="field_cyrillic">Cyrillic</label>
          <input type="text" class="form-control" name="cyrillic" id="field_cyrillic" data-cy="cyrillic" formControlName="cyrillic" />
          <div *ngIf="editForm.get('cyrillic')!.invalid && (editForm.get('cyrillic')!.dirty || editForm.get('cyrillic')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cyrillic')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="currencyApp.language.english" for="field_english">English</label>
          <input type="text" class="form-control" name="english" id="field_english" data-cy="english" formControlName="english" />
          <div *ngIf="editForm.get('english')!.invalid && (editForm.get('english')!.dirty || editForm.get('english')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('english')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
