<div>
  <h2 id="page-heading" data-cy="CurrencyHeading">
    <span jhiTranslate="currencyApp.currency.home.title">Currencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="currencyApp.currency.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-currency"
        [routerLink]="['/currency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="currencyApp.currency.home.createLabel"> Create a new Currency </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="currencies?.length === 0">
    <span jhiTranslate="currencyApp.currency.home.notFound">No Currencies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="currencies && currencies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cbuId">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.cbuId">Cbu Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nominal">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.nominal">Nominal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rate">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.rate">Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="difference">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.difference">Difference</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="language.id">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.currency.language">Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/currency', currency.id, 'view']">{{ currency.id }}</a>
          </td>
          <td>{{ currency.cbuId }}</td>
          <td>{{ currency.code }}</td>
          <td>{{ currency.name }}</td>
          <td>{{ currency.nominal }}</td>
          <td>{{ currency.rate }}</td>
          <td>{{ currency.difference }}</td>
          <td>{{ currency.date | formatMediumDate }}</td>
          <td>
            <div *ngIf="currency.language">
              <a [routerLink]="['/language', currency.language.id, 'view']">{{ currency.language.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/currency', currency.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/currency', currency.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(currency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
