<div>
  <h2 id="page-heading" data-cy="LanguageHeading">
    <span jhiTranslate="currencyApp.language.home.title">Languages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="currencyApp.language.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-language"
        [routerLink]="['/language/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="currencyApp.language.home.createLabel"> Create a new Language </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="languages?.length === 0">
    <span jhiTranslate="currencyApp.language.home.notFound">No Languages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="languages && languages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.language.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="russian">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.language.russian">Russian</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uzbek">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.language.uzbek">Uzbek</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cyrillic">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.language.cyrillic">Cyrillic</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="english">
            <div class="d-flex">
              <span jhiTranslate="currencyApp.language.english">English</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let language of languages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/language', language.id, 'view']">{{ language.id }}</a>
          </td>
          <td>{{ language.name }}</td>
          <td>{{ language.russian }}</td>
          <td>{{ language.uzbek }}</td>
          <td>{{ language.cyrillic }}</td>
          <td>{{ language.english }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/language', language.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/language', language.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(language)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
